@import "_reset.scss";
@import "_var.scss";

//The designs were created to the following widths:
// $media-desktop: "only screen and (max-width : 1440px)";
$media-tablet: "only screen and (max-width : 750px)";
$media-mobile: "only screen and (max-width : 570px)";
// $media-mobile-sm: "only screen and (max-width : 375px)";

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: var(--Red);
   @media #{$media-mobile} {
      padding: 20px 0;
   }
}
#overlay{
   width: 100%;
   height: 100%;
   background-image: url('/images/bg-intro-desktop.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   #main-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      width: 75%;

      @media #{$media-tablet} {
         width: 90%;
      }
      @media #{$media-mobile} {
         flex-direction: column;
         justify-content: space-around;
         // height: 80%;
      }
      .left-container{
         display: flex;
         flex-direction: column;
         text-align: left;
         color: white;
         width: 50%;

         @media #{$media-tablet} {
            width: 40%;
         }
         @media #{$media-mobile} {
            width: 100%;
         }
         h1{
            line-height: 1.2;
            margin-bottom: 15px;
            width: 85%;
            @media #{$media-mobile} {
               width: 100%;
               text-align: center;
            }
         }
         p{
            text-align: left;
            @media #{$media-mobile} {
               text-align: center;
            }
         }
      }
      .right-container{
         width: 50%;

         @media #{$media-tablet} {
            width: 60%;
         }
         @media #{$media-mobile} {
            width: 100%;
         }

         .offer{
            border-radius: 10px;
            background-color: var(--Blue);
            text-align: center;
            padding: 20px 15px;
            margin-bottom: 25px;
            filter: drop-shadow(0px 10px 0px rgb(0, 0, 0, 0.33));

            @media #{$media-mobile} {
               padding: 20px 35px;
            }
            @media #{$media-mobile} {
               width: 100%;
               padding: 20px 40px;
            }
            p{
               color: white;
               font-size: 14px;
               font-weight: 600;
               .offer-amount{
                  color: var(--Grayish-Blue);
                  font-weight: 400;
               }
            }
         }
         form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            width: 100%;
            padding: 35px;
            filter: drop-shadow(0px 10px 0px rgb(0, 0, 0, 0.33));

            @media #{$media-mobile} {
               padding: 25px;
            }

            .input-control{
               position: relative;
               width: 100%;
               
               input{
                  width: 100%;
                  border-radius: 5px;
                  padding: 12px 25px;
                  margin-bottom: 25px;
                  outline: none;
                  border: 0.6px solid var(--Grayish-Blue);
               }
               ::placeholder{
                  font-weight: 600;
               }
               //## ERROR STYLING ##
               .error-icon{
                  position: absolute;
                  top: 12px;
                  right: 26px;
                  width: 100%;
                  background-image: url('/images/icon-error.svg');
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  width: 24px;
                  height: 24px;
                  transform: scale(0);
                  transition: all 0.3s ease-in-out;
               }
               .error-txt{
                  position: absolute;
                  top: 49px;
                  width: 100%;
                  text-align: right;
                  color: var(--Red);
                  font-weight: 600;
                  font-size: 12px;
                  display: none;
               }
            }
            // Submit Button
            input[type='submit'] {
               width: 100%;
               justify-content: center;
               border-radius: 5px;
               padding: 12px 25px;
               outline: none;
               margin-bottom: 15px;
               color: white;
               text-transform: uppercase;
               font-weight: 600;
               border: 1px solid var(--Dark-Green);
               background-color: var(--Green);
               filter: drop-shadow(0px 5px 0px var(--Dark-Green));
               cursor: pointer;
               transition: all 0.3s ease-in-out; 
            }

            input[type='submit']:hover {
               background-color: var(--Light-Green);
               border-color: var(--Light-Green);
               filter: drop-shadow(0px 5px 0px var(--Filter-Light-Green));
            }            
            
            .error-shake {
               animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
               transform: translate3d(0, 0, 0);
            }
            @keyframes shake {
               10%, 90% {
                 transform: translate3d(-1px, 0, 0);
               }
               
               20%, 80% {
                 transform: translate3d(2px, 0, 0);
               }
             
               30%, 50%, 70% {
                 transform: translate3d(-4px, 0, 0);
               }
             
               40%, 60% {
                 transform: translate3d(4px, 0, 0);
               }
             }
             .error-border input{
               border-color: var(--Red);
            }
            .success-border input{
               border-color: var(--Green);
            }
            //## END ERROR STYLING ##

            .terms-txt{
               font-size: 10px;
               color: var(--Grayish-Blue);
               font-weight: 600;
               @media #{$media-mobile} {
                  text-align: center;
               }
               a{
                  color: var(--Red);
                  text-decoration: none;
                  transition: all 0.3s ease-in-out;
               }
               a:hover{
                  color: var(--Light-Green);
                  font-weight: 700;
               }
            }
         }
      }
   }
}


