/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --Red: hsl(0, 100%, 74%);
  --Light-Red: hsl(0, 53%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Light-Green: #78e2b4;
  --Filter-Light-Green: #6dcca2;
  --Dark-Green: #34b87e;
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Red);
}
@media only screen and (max-width : 570px) {
  body {
    height: 100%;
    padding: 20px 0;
  }
}

#overlay {
  width: 100%;
  height: 100%;
  background-image: url("/images/bg-intro-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#overlay #main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 75%;
}
@media only screen and (max-width : 750px) {
  #overlay #main-container {
    width: 90%;
  }
}
@media only screen and (max-width : 570px) {
  #overlay #main-container {
    flex-direction: column;
    justify-content: space-around;
  }
}
#overlay #main-container .left-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  width: 45%;
}
@media only screen and (max-width : 750px) {
  #overlay #main-container .left-container {
    width: 45%;
    align-items: center;
  }
}
@media only screen and (max-width : 570px) {
  #overlay #main-container .left-container {
    width: 100%;
    align-items: center;
  }
}
#overlay #main-container .left-container h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  width: 85%;
}
@media only screen and (max-width : 750px) {
  #overlay #main-container .left-container h1 {
    width: 100%;
    font-size: 2rem;
  }
}
@media only screen and (max-width : 570px) {
  #overlay #main-container .left-container h1 {
    width: 80%;
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
  }
}
#overlay #main-container .left-container p {
  text-align: left;
}
@media only screen and (max-width : 570px) {
  #overlay #main-container .left-container p {
    text-align: center;
    margin-bottom: 30px;
  }
}
#overlay #main-container .right-container {
  width: 55%;
}
@media only screen and (max-width : 750px) {
  #overlay #main-container .right-container {
    width: 55%;
  }
}
@media only screen and (max-width : 570px) {
  #overlay #main-container .right-container {
    width: 100%;
  }
}
#overlay #main-container .right-container .offer {
  border-radius: 10px;
  background-color: var(--Blue);
  text-align: center;
  padding: 20px 15px;
  margin-bottom: 25px;
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.15));
}
@media only screen and (max-width : 570px) {
  #overlay #main-container .right-container .offer {
    width: 100%;
    padding: 20px 120px;
  }
}
#overlay #main-container .right-container .offer p {
  color: white;
  font-weight: 600;
}
#overlay #main-container .right-container .offer p .offer-amount {
  color: var(--Grayish-Blue);
  font-weight: 400;
}
@media only screen and (max-width : 570px) {
  #overlay #main-container .right-container .offer p {
    font-size: 14px;
  }
}
#overlay #main-container .right-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 35px;
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.15));
}
@media only screen and (max-width : 750px) {
  #overlay #main-container .right-container form {
    padding: 20px;
  }
}
#overlay #main-container .right-container form .input-control {
  position: relative;
  width: 100%;
}
#overlay #main-container .right-container form .input-control input {
  width: 100%;
  border-radius: 5px;
  padding: 12px 25px;
  margin-bottom: 35px;
  outline: none;
  border: 0.6px solid var(--Grayish-Blue);
}
#overlay #main-container .right-container form .input-control ::-moz-placeholder {
  font-weight: 600;
}
#overlay #main-container .right-container form .input-control :-ms-input-placeholder {
  font-weight: 600;
}
#overlay #main-container .right-container form .input-control ::placeholder {
  font-weight: 600;
}
#overlay #main-container .right-container form .input-control .error-icon {
  position: absolute;
  top: 12px;
  right: 26px;
  width: 100%;
  background-image: url("/images/icon-error.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
#overlay #main-container .right-container form .input-control .error-txt {
  position: absolute;
  top: 55px;
  width: 100%;
  text-align: right;
  color: var(--Red);
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  display: none;
}
#overlay #main-container .right-container form input[type=submit] {
  width: 100%;
  justify-content: center;
  border-radius: 5px;
  padding: 12px 25px;
  outline: none;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid var(--Dark-Green);
  background-color: var(--Green);
  filter: drop-shadow(0px 5px 0px var(--Dark-Green));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#overlay #main-container .right-container form input[type=submit]:hover {
  background-color: var(--Light-Green);
  border-color: var(--Light-Green);
  filter: drop-shadow(0px 5px 0px var(--Filter-Light-Green));
}
#overlay #main-container .right-container form .error-shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#overlay #main-container .right-container form .error-border input {
  border-color: var(--Red);
  border-width: 2px;
}
#overlay #main-container .right-container form .success-border input {
  border-color: var(--Green);
  border-width: 2px;
}
#overlay #main-container .right-container form .terms-txt {
  font-size: 9px;
  color: var(--Grayish-Blue);
  font-weight: 600;
}
@media only screen and (max-width : 570px) {
  #overlay #main-container .right-container form .terms-txt {
    text-align: center;
  }
}
#overlay #main-container .right-container form .terms-txt a {
  color: var(--Red);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
#overlay #main-container .right-container form .terms-txt a:hover {
  color: var(--Light-Green);
}/*# sourceMappingURL=stylesheet.css.map */